body{
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
  
}

header{
    display: block;
    text-align: center;
    background-color: yellow;
    padding: 10px;
}

.formContainer{
    max-width: 230px;
    background-color: #FFFFFFBB;
    padding: 20px;
    float: right;
}

h2{
    font-size: 16px;
}

.mb{
    margin-bottom: 15px;
}

section{
    color:white;
    padding: 20px;
    background-image: url('../fotos/burger-g97fcd475f_1280.jpg');
    background-size: cover;
    overflow: hidden;

}

.formContainer{
    max-width: 230px;
    background-color: #FFFFFFBB;
    padding: 20px;
   
}

h2{
    font-size: 16px;
    color: black;
}

.mb{
    margin-bottom: 15px;
    color: black;
}

input, select{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    margin-bottom: 10px;
}

input[type="submit"]{
    color: white;
    background-color: #48c5ce;
    font-weight: bolder;
}
select{
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: url('../fotos/arrow.jpg');
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
}
footer{
  background-color: #202121; 
  padding: 40px; 
  text-align: center;
}
.picture{
    width: 160px;
    border: 8px solid black;
}

.description{
    display: inline-block;
    color: white;
    max-width: 40%;
    text-align: left;
    margin-left: 40px;
}

.description p, .description h3{
    margin-bottom: 20px;
}

.description h3{
 margin-bottom: 24px;
}

